@charset "UTF-8";

@charset "UTF-8";

.contents-card {
    width: 100%;
    height: auto;

    margin: 6em 0;

    background-image: url("../resources/img/deco/whiteWallpaper02.png");
    background-position: center top;
    background-repeat: repeat;
    background-size: cover;

    text-align: center;

    display: flex;
    justify-content: center;
}

.contents-card .titleStar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents-card .titleStar .title {
    margin: 0 .5em;
    font-family: "NanumSquareEB";
}

.contents-card .description {
    line-height: 1.5em;
}

.contents-card .main {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contents-card .main .tutorial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 3em;
}

.contents-card .main .tutorial img {
    max-width: 501px;
    width: 16.7em;
    margin: .4em;
}

@media screen and (max-width: 1622px) {
    .contents-card {
        font-size: .9em;
    }
}

@media screen and (max-width: 584px) {
    .contents-card {
        font-size: .8em;
    }
}

@media screen and (max-width: 517px) {
    .contents-card {
        font-size: .7em;
    }
}

@media screen and (max-width: 454px) {
    .contents-card {
        font-size: .6em;
    }
}

@media screen and (max-width: 361px) {
    .contents-card .titleStar {
        font-size: .8em;
    }

    .contents-card .description br {
        display: none;
    }
}