@charset "UTF-8";

.contents-card .deco {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contents-card .deco .mico {
    max-width: 209px;
    width: 7em;

}

.contents-card .deco .conzy {
    max-width: 222px;
    width: 7.4em;

}

.contents-card .deco .malco {
    max-width: 172px;
    width: 5.8em;

}

.contents-card .deco .dora {
    max-width: 201px;
    width: 6.7em;

}

.contents-card .deco .gon {
    max-width: 201px;
    width: 6.7em;

}

.contents-card .deco .gabi {
    max-width: 201px;
    width: 6.7em;
}

.contents-card .deco .finn {
    max-width: 201px;
    width: 6.7em;
    padding-bottom: 32em;

}

.contents-card .deco .hind {
    max-width: 201px;
    width: 6.7em;
    visibility: hidden;
}

.contents-card .titleStar .star:first-child {
    max-width: 72px;
    width: 2.4em;
}

.contents-card .titleStar .star:last-child {
    max-width: 39px;
    width: 1.3em;
}

@media screen and (max-width: 944px) {
    .contents-card .deco {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .contents-card .titleStar .star {
        display: none;
    }
}