@charset "UTF-8";

.contents_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: center / contain repeat;
    background-position: top;

    padding-top: 15%;    
}

.contents_row_container {
    display: flex;
}

.contents_container .info_layout {
    font-family: "NanumSquareB";
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contents_container .info_layout .info_texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-end; */
}

.contents_container .info_layout .info_texts .nomal_text {
    
    font-size: 30px;
    text-align: center;
    margin: 0px;
    margin-bottom: 15px;
    line-height: 150%;
    letter-spacing: 1.3px;
}

.contents_container .info_layout .info_texts .big_text{
    font-size: 65px;
    margin:0px;
    margin-bottom: 60px;
}

.contents_container .info_layout .store_link_layout {
    list-style-type: none;
    display: flex;
    height: 100%;
}

.contents_container .info_layout .store_link_layout li {
    margin: 0px 30px;
}

.store_link_layout img {
    width: 208px;
    height: 65px;
}

.contents_container .info_deco_layout {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}    

.contents_container .info_deco_layout .deco_title {
    display: flex;
    justify-content: center;
}

.contents_container .info_deco_layout .deco_title img:first-child {
    width: 72px;
    height: 120px;
}

.contents_container .info_deco_layout .deco_title img:last-child {
    width: 39px;
    height: 40px;
}

.contents_container .info_deco_layout .deco_title .big_text{
    font-family: "NanumSquareEB";
    font-size: 65px;
    color: #5F1AA8;
    margin-bottom: 20px;
    text-align: center;
}

.contents_container .info_deco_layout .nomal_text{
    font-family: "NanumSquareB";
    font-size: 30px;
    color: #B480FF;
    margin: 0px 0px;
    text-align: center;

    line-height: 150%;
}



.contents_imgs_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px auto;

    /* width: 1200px; */
    width: 60vw;
    max-width: 1200px;
}