@charset "UTF-8";

.deco_left_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 100px;
    padding-right: 1vw;
}

.deco_right_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 800px;
    padding-left: 1vw;
}

/* .deco_left_container img {
    width: 209px;
    height: auto;
}
.deco_right_container img{
    width: 209px;
    height: auto;
} */

.deco_mico_container{
    flex-grow: 2;
}
.deco_malco_container{
    flex-grow: 1;
}

.deco_conzy_container{
    flex-grow: 2;
}
.deco_dora_container{
    flex-grow: 1;
    margin-bottom: -650px;
    z-index: 1;
}

.deco_gon_container{
}
.deco_gabi_container{
    margin-bottom: -1500px;
    z-index: 1;
}

.deco_empty_container{
    visibility: hidden;
}

.deco_finn_container{
    margin-top: -800px;
}