@charset "UTF-8";

footer {
    max-width: 1900px;
    margin: 0px auto;
    font-family: "NanumSquare_acR";
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 50px;
    padding-top: 300px;
    color: #999999
}
.conpany_info{
    display: flex;
    flex-direction: column;

    font-size: 20px;
}
.copyright{
    font-size: 17pt;
    margin: 5px 10px;
    align-self: center;
}
.rule{
    display: flex;
    justify-content: space-between;

    border-bottom: 1px #bcbcbc solid;

    padding-bottom: 20px;
}
.rule>ul{
    display: flex;
    list-style: none;
    padding: 0px 0px;
    
}
.rule>ul img {
    margin-bottom: -7px;
    margin-right: 1.5px;
}
.rule>ul li{
    margin: 5px 10px;
}

.rule>ul li a{
    text-decoration: none;
    color: #999999;
}
.conpany_info2 {
    display: flex;
    justify-content: space-between;
}
.conpany_info2 > div {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0px 0px 0px;

}

.conpany_info2 > div > div {
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-size: 12px;
}

.start > span:first-child {
    margin-bottom: 15px;
}

.middle > span:first-child {
    margin-bottom: 15px;
}
.end > span:first-child {
    margin-bottom: 15px;
}

.conpany_info2 > img {
    width: 252px;
    height: 61px;
    align-self: center;
    margin-top: 30px;
}