@charset "UTF-8";

.nav_container {
    /* background-color: blueviolet; */

    width: 100%;

    max-width: 1900px;

    display: flex;
    justify-content: space-between;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.nav_container > .nav_logo {
    width: 279px;
    height: 74px;

    margin: var(--nav-container-margin);
}

.nav_menu {
    display: flex;
    margin: 0px;
    padding: 0px;

    margin: var(--nav-container-margin);
}

.nav_container > .nav_menu > li {
    list-style-type: none;
    margin-top: 5px;
}

.nav_container > .nav_menu > li:not(:last-child){
    margin-right: 63px;
}

.nav_container > .nav_menu > li > a {
    font-family: "NanumSquareB";
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}

.nav_container .nav_toogleBtn {
    display: none;
}

.nav_menu_icon.active,
.nav_menu.active {
    display: flex;
}