@charset "UTF-8";
/* 변수 선언 */
@import url(Css/variable.css);
/* 폰트 선언 */
@import url(Css/font.css);
/* 네비게이션 파트*/
@import url(Css/nav.css);
/* 콘텐츠 컨테이너 */
@import url(Css/contents.css);
/* 배경 경계선 라인 파트 */
@import url(Css/waveLine.css);
/* 양옆 케릭터 디자인 파트 */
@import url(Css/decoration.css);
/* footer 파트 */
@import url(Css/footer.css);

/* 디폰트 설정 */
html,
body {
    margin: 0px;
}

#content2 .contents_imgs_info img {
    width: 500px;
    height: 450px;
    margin-bottom: 10%;
}

#content3 .contents_imgs_info img {
    width: 420px;
    height: 299px;
    margin-bottom: 10%;
}

#content3 .info_deco_layout .deco_title .big_text {
    color: var(--color-white);
}

#content3 .info_deco_layout .nomal_text {
    color: #DBC0FF;
}

#content4 .info_deco_layout .deco_title .big_text {
    color: var(--color-white);
}

#content4 .info_deco_layout .nomal_text {
    color: #C7FFF8;
    font-size: 25px;
    margin: 50px 0px;
}

#content4 .info_deco_layout .nomal_text p {
    margin: 15px 0px;
}

#content4 .info_deco_layout .nomal_text span {
    color: yellow;
}

#content5 .info_layout .big_text {
    font-family: "NanumSquare_acEB";
    color: #686868;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px;
    font-size: 30px;
}

#content5 .info_layout .big_text span {
    color: #00cfc7;
}

#content5 .info_layout .nomal_text {
    font-family: "NanumSquare_acR";
    font-size: 25px;
    color: #686868;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

#content5 .info_layout .nomal_text span {
    text-align: center;
    margin: 10px 0px;
}

/* 반응형 */

@media screen and (max-width: 1670px) {
    .contents_container .info_deco_layout .deco_title .big_text {
        font-size: 55px;
    }

    #content2 .contents_imgs_info img {
        width: 400px;
        height: auto;
    }

    #content4 .info_deco_layout>img {
        width: 70vw;
    }

}

@media screen and (max-width: 1335px) {


    .deco_left_container {
        padding-right: 15px;
    }

    .deco_right_container {
        padding-left: 15px;
    }

    #content2 .contents_imgs_info img {
        width: 300px;
        height: auto;
    }

    .contents_container .info_deco_layout .deco_title .big_text {
        font-size: 50px;
    }

    .contents_container .info_deco_layout .nomal_text {
        font-size: 20px;
    }

    #content3 .contents_imgs_info img {
        width: 370px;
        height: auto;
    }
}

@media screen and (max-width: 1235px) {
    #content3 .contents_imgs_info img {
        width: 350px;
        height: auto;
    }
}

@media screen and (max-width: 1000px) {
    .deco_left_container {
        display: none;
    }

    .deco_right_container {
        display: none;
    }

    .contents_container {
        padding-top: 25%;
    }

    .nav_container>.nav_menu {
        display: none;
    }

    .contents_imgs_info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        /* width: 1200px; */
        width: 80vw;
        max-width: 1200px;
    }

    #content2 .contents_imgs_info img {
        width: 350px;
        height: auto;
    }

    #content4 .info_deco_layout>img {
        margin: 0px auto;
    }

    footer {
        padding: 100px 0px 0px 0px;
    }

    .conpany_info {
        font-size: 20px;
    }

    .copyright {
        font-size: 20px;
        align-self: center;
    }

    .rule {
        flex-direction: column;
        align-self: center;
        padding-bottom: 10px;
    }

    .rule>ul {
        margin: 10px 0px 5px 0px;
    }

    .conpany_info2 {
        margin-top: 30px;
        font-size: 20px;
    }

    .boss {
        margin: 0px 0px 10px 0px;
        text-align: center;
    }

    .address {
        display: flex;
        flex-direction: column;
    }

    .address>div:first-child {
        flex-direction: column;
        margin: 0px 0px 0px 0px;
    }

    .address>div:first-child>span:first-child {
        margin: 0px 0px 10px 0px;
    }

    .address>div:first-child>span:last-child {
        margin: 0px 0px 10px 0px;
    }

    .address>div:last-child {
        width: 90vw;
        flex-direction: column;
        margin: 0px auto;
    }

    .address>div:last-child>img {
        width: 90vw;
        height: auto;
        margin-top: 30px;
    }
}

/* 제일 작은 사이즈 */
@media screen and (max-width: 600px) {

    /* 라인 */
    .waveLine_nomal {
        height: 10px;
        margin-bottom: -1px;
    }

    /* 사이드 데코 */
    .deco_left_container {
        display: none;
    }

    .deco_right_container {
        display: none;
    }

    /* 네비게이션 */
    .nav_container>.nav_logo {
        width: 30%;
        height: 30%;

        margin: var(--nav-container-small-margin);
    }

    .nav_container>.nav_menu {
        display: none;
    }

    /* container */
    .contents_container {
        padding-top: 25%;
    }

    .contents_container .info_layout .info_texts .nomal_text {
        font-size: 14.5px;
    }

    .contents_container .info_layout .info_texts .big_text {
        font-size: 30px;
    }

    .contents_container .info_layout .store_link_layout li {
        list-style-type: none;
        margin: 0px 5px;
    }

    .contents_container .info_layout .store_link_layout li a {
        text-decoration: none;
        color: var(--color-white);
        border: 2px solid white;
        background-color: #42BFFE;
        border-radius: 5px;
        padding: 2.5px 10px;
    }

    .contents_container>img {
        margin-top: 10px;
    }

    .contents_container .info_deco_layout .deco_title img:first-child {
        width: 36px;
        height: 60px;
    }

    .contents_container .info_deco_layout .deco_title img:last-child {
        width: 19.5px;
        height: 20px;
    }

    .contents_container .info_deco_layout .deco_title .big_text {
        font-size: 24px;

    }

    .contents_container .info_deco_layout .nomal_text {
        font-size: 15px;
    }

    .contents_imgs_info {
        width: 100vw;
    }

    /* 콘텐츠 */
    #content2 .contents_imgs_info img {
        width: 250px;
        height: auto;
        margin-bottom: 10%;
    }

    #content3 .contents_imgs_info img {
        width: 250px;
        height: auto;
        margin-bottom: 10%;
    }

    #content4 .info_deco_layout .nomal_text {
        margin: 15px 0px;
    }

    #content4 .info_deco_layout .nomal_text p {
        font-size: 20px;
        margin: 2px 0px;
    }

    #content4 .info_deco_layout>img {
        width: 90vw;
        height: auto;
        margin: 0px auto;
    }

    #content5 .info_layout {
        width: 90vw;
    }

    #content5 .info_layout>img {
        width: 90vw;
    }

    #content5 .info_layout .big_text {
        margin-top: 15px;
        margin-bottom: 50px;
        font-size: 10px;
    }

    #content5 .info_layout .nomal_text {
        font-family: "NanumSquare_acR";
        font-size: 15px;
        color: #686868;
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }

    #content5 .info_layout .nomal_text span {
        margin: 10px 0px;
    }

    #content5 .contents_imgs_info {
        width: 90vw;
    }

    footer {
        padding: 100px 0px 0px 0px;
    }

    .conpany_info {
        font-size: 15px;
    }

    .copyright {
        font-size: 15px;
        align-self: center;
    }

    .rule {
        flex-direction: column;
        align-self: center;
        padding-bottom: 10px;
    }

    .rule>ul {
        margin: 10px 0px 5px 0px;
    }

    .conpany_info2 {
        margin-top: 30px;
        font-size: 15px;
    }

    .boss {
        margin: 0px 0px 10px 0px;
        text-align: center;
    }

    .address {
        display: flex;
        flex-direction: column;
    }

    .address>div:first-child {
        flex-direction: column;
        margin: 0px 0px 0px 0px;
    }

    .address>div:first-child>span:first-child {
        margin: 0px 0px 10px 0px;
    }

    .address>div:first-child>span:last-child {
        margin: 0px 0px 10px 0px;
    }

    .address>div:last-child {
        width: 90vw;
        flex-direction: column;
        margin: 0px auto;
    }

    .address>div:last-child>img {
        width: 90vw;
        height: auto;
        margin-top: 30px;
    }
}
